<div class="container">
  <div class="side-nav-container">
    <h2>notable</h2>
    <h3>Physicians</h3>
    <ul>
      <li *ngFor="let physician of physicians; let i= index" (click)="physicianClicked(physician.physicianid)">
          {{physician.lastName}},{{physician.name}}
      </li>
    </ul>
  </div>
  <div class="content-container">
      <div class="header-container">
         <h2>{{currentPhysicianName}} {{currentPhysicianLastName}}</h2>
      </div>
      <div class="grid-container">
          <div class="grid-header">
              <div>#</div>
              <div>Name</div>
              <div>Time</div>
              <div>Kind</div>
          </div>
          <div class="grid-row" *ngFor="let appointment of appointments, let j= index">
                <div>{{j}}</div>
                <div>{{appointment?.patient.name}} {{appointment?.patient?.lastName}}</div>
                <div>{{appointment?.scheduledTime}}</div>
                <div>{{appointment?.kindOfPatient}}</div>
          </div>
      </div>
  </div>

</div>